################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vision/.vs/Blueprint
/Vision/bin/Debug/net6.0
/Vision/obj
/Vision/Properties
/Vision/appsettings.json
/Vision/appsettings.Development.json
